body {
  overflow: scroll;
}

header {
  margin-bottom: 80px;
}

article {
  background-color: #eee;
  padding: 0 20px 80px;
  margin-bottom: 40px;
}

article h3 {
  margin: 0 -20px 20px;
  padding: 10px 20px;
  background-color: #ccc
}

.subtitle {
  display: block;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 300;
}

.wrapper {
  padding: 30px;
}

.content {
  display: flex; /* TODO: refactor to grid */
  flex-wrap: wrap;
}

.block {
  flex: 1 1 50%;
  padding-left: 50px;
  min-width: 300px;
}

.block--width-500 {
  max-width: 460px;
}

.block--width-900 {
  max-width: 1000px;
}

.block:first-child {
  padding-left: 0;
}

.list--spaced-500 li {
  margin-bottom: 10px;
}

.list--spaced-0 li {
  margin: 0;
}

.browser-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.browser-list__item {
  flex: 1 1 20%;
  padding: 0 3% 50px;
  min-width: 100px;
}

.browser-list__item--full-width {
  min-width: 100%;
  padding: 0 20px;
  text-align: center;
}

.browser {
  text-align: center;
  margin: 0;
}

.browser__logo {
  margin-bottom: 10px;
  max-height: 100px;
}

.framework {
  text-align: center;
  margin: 0;
}

.flexbox {
  display: flex;
}

.framework-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.framework-list__item {
  flex: 1 1 20%;
  padding: 0 3% 50px;
  min-width: 100px;
  text-align: center;
}

.framework__logo {
  margin-bottom: 10px;
  max-height: 100px;
}

.steps {
  float: right;
  position: relative;
}

.steps::before {
  display: block;
  position: absolute;
  content: "";
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 8px;
  border: 3px solid black;
  border-left: 0;
  border-top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: opacity 1s linear;
}

.steps::after {
  display: block;
  content: "";
  border-bottom: 1px solid black;
  width: 20px;
  height: 20px;
}

.step-checkbox#step-1:not(:checked) ~ main #lesson--2,
.step-checkbox#step-2:not(:checked) ~ main #lesson--3,
.step-checkbox#step-3:not(:checked) ~ main #lesson--4 {
  display: none;
}

.step-checkbox#step-1:checked ~ main [for="step-1"]::before,
.step-checkbox#step-2:checked ~ main [for="step-2"]::before,
.step-checkbox#step-3:checked ~ main [for="step-3"]::before {
  opacity: 1;
}

.step-checkbox {
  display: none;
}
