* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}


code {
  background: rgba(0, 0, 0, 0.2);
  padding: 2px 5px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 20px;
}
